<div class="banner"></div>
<div class="container mt-3 mb-3">
    <div class="conteudo">
        <h1>Sobre Este Site</h1>
        <p>
          O site em Angular é uma plataforma interativa e moderna, projetada para
          fornecer uma experiência de usuário excepcional. Com um design responsivo e
          elegante, oferece uma navegação intuitiva e rápida. Possui recursos avançados,
          como autenticação de usuários, integração de API e exibição de conteúdo
          dinâmico. Com uma arquitetura robusta e escalável, o site em Angular é ideal
          para empresas que desejam criar aplicações web poderosas e flexíveis.
        </p>
    </div>
</div>
