<div class="footer">
    <div class="row">
        <div class="col-lg-5">
            <h1>Site Avaliação</h1>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Inicial</a>
            <a routerLink="sobre">Sobre</a>
            <a routerLink="contato">Contato</a>
        </div>
        <div class="col-lg-3">
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="#" target="_blank"><i class="bi bi-github"></i></a>
            <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="#" target="_blank"><i class="bi bi-twitch"></i></a>
            <a href="#" target="_blank"><i class="bi bi-steam"></i></a>
        </div>
    </div>
</div>
